<ion-view class="feeds-categories-view flight-search-result">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Search Result</span>
  </ion-nav-title>
  <ion-content>
    <div class="list layouts-functionalities">
      <a class="item item-avatar">
        <img src="img/EK2.png">
        <h2>Depart: New York to Sydney via Dubai</h2>
        <p>JFK New York  4:30 pm, 17 Sep Thu </p>
        <p>Sydney   1:20 pm, 18 Sep Fri </p>
        <p>DXB Dubai   11h 50m</p>
        <div>
            <img src="img/flight.jpg" />
        </div>
    </a>
    <a class="item item-avatar">
        <img src="img/EK2.png">
        <h2>Depart: New York to Sydney via Dubai</h2>
        <p>JFK New York  4:30 pm, 17 Sep Thu </p>
        <p>Sydney   1:20 pm, 18 Sep Fri </p>
        <p>DXB Dubai   11h 50m</p>
        <div>
            <img src="img/flight.jpg" />
        </div>
        
    </a>
    <a class="button button-full button-assertive" ui-sref="app.feeds-categories">
        Plan Transit Journey
    </a>
    <!-- <a class="item" href="#">
        
        <h2>Depart: New York to Sydney via Dubai</h2>
        <p>JFK New York  4:30 pm, 17 Sep Thu </p>
        <p>Sydney   1:20 pm, 18 Sep Fri </p>
        <p>DXB Dubai   11h 50m</p>
        <div>
            <img src="img/flight.jpg" />
        </div>
    </a> -->
    </div>
    <!-- <div class="row categories-list">
      <div ng-repeat="category in flightRes" class="col col-50">
        <a class="feed-category">
           <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="img/EK.png" spinner-on-load>
          </pre-img> 
          <div>ddxxx</div>
          <span class="category-title">{{category.destnFrom}}</span>
        </a>
      </div>
    </div> -->
  </ion-content>
</ion-view>
