<ion-view class="forms-view explore-dubai">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Explore Dubai</span>
  </ion-nav-title>
  <ion-content>
    
    <div class="card">
      <div class="item item-text-wrap extra-pad">
        Welcome to dubai. Explore Dubai's top Location's Street View from here.
      </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="div1">
                <div ng-repeat="obj in destnHead">
                    <a class="item item-thumbnail-left" ng-click="loadMap(obj)" title="{{obj.name}}">
                        <img src="img/explore/{{obj.imgSrc}}" alt="{{obj.name}}">
                    </a>
                </div>
            </div>
            <div class="div2">
                <div class="map-wrapper" >
                    <div id="expmapid" style="width: 100%; height: 700px"></div>
                </div>               
            </div>
        </div>
  </ion-content>
</ion-view>
