map, #streetview {display:inline-block !important;width:45%;height: 400px}

.flight-search-result .item-avatar > img:first-child {
    border-radius: 0;
}

.padd_ {
	padding:25px  0 0 45px;
	display: inline-block;
}

/** Explore Dubai **/
.explore-dubai map {
	display: none !important;	
}

.explore-dubai .card.item-text-wrap.extra-pad {
	padding: 10px; 
}

.explore-dubai .item-thumbnail-left > img:first-child {
	position: absolute;
    top: 1px;
    left: 10px;
    max-width: 70px;
    max-height: 77px;
    width: 100%;
    height: 100%;
}


.explore-dubai #streetview {
	width:100%;
}

.explore-dubai .item-thumbnail-left {
	padding-bottom: 5px;
	padding-top: 0;
    padding-left: 84px;
    min-height: 80px;
}

.explore-dubai .div1 .item {
	padding:0;
}

.explore-dubai .div1 {
	width:25%;
	display: inline-block;
}

.explore-dubai .div2 {
	width:75%;
	display: inline-block;
}



/** Explore Map Direction**/

.explore-deal-map-direction map {
	width:100%;
	height:500px !important;
}

.explore-deal-map-direction .dir-wrapper {
	width:100%;
}

.explore-deal-map-direction .dir-wrapper .map-path {
	width:60%;
	border: 2px solid #CDCDCD;
    border-radius: 5px;
    margin: 0 3px;
}

.explore-deal-map-direction .dir-wrapper .map-dir {
	width:40%;
}

.explore-deal-map-direction .dir-wrapper .map-dir .dir-panel {
	width: 96%; float:left; height: 100%; 
	overflow: auto; padding: 0px 7px;
	border: 2px solid #CDCDCD;
    border-radius: 5px;
    margin: 0 2px;
}

.map-dir .dir-panel table.adp-placemark {
	font-weight: bold !important;
}

.map-dir .dir-panel table.adp-directions {
	font-weight: bold !important;
}

.map-dir .dir-panel table.adp-directions .adp-substep {
	padding:0;
}

/** package purchase **/
.package-purchase-map-direction .main-wrapper {
	width:100%;
	margin:8px;
}

.package-purchase-map-direction .row .driver-path{
	width:100%;
}

.package-purchase-map-direction .row map {
	width:100%;
	height:200px;
}

.package-purchase-map-direction .row #streetview {
	width:100%;
	height:300px;
}

.categories .item-body h2 {
	margin:0 0 5px 5px;
}

.categories .item-body {
	padding:2px;
}

.categories .item-body p {
	margin-top: 3px;
}