map, #streetview {display:inline-block !important;width:45%;height: 400px}

.flight-search-result .item-avatar > img:first-child {
    border-radius: 0;
}


/** Explore Dubai **/
.explore-dubai map {
	display: none !important;	
}

.explore-dubai #streetview {
	width:100%;
}

.explore-dubai .item-thumbnail-left {
	padding-bottom: 5px;
	padding-top: 0;
    padding-left: 84px;
    min-height: 80px;
}

.explore-dubai .item {
	padding:0;
}

.explore-dubai .div1 {
	width:25%;
	display: inline-block;
}

.explore-dubai .div2 {
	width:75%;
	display: inline-block;
}

